<h1>Characters</h1>

<div class="row" infinite-scroll="characters.getCharacters()" infinite-scroll-disabled="characters.busy">
	<div class="card-body col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" ng-repeat="character in characters.items">
		<div class="card">
			<img class="card-img-top" ng-src="{{character.photo}}" alt="{{character.name}}" title="{{character.name}}">
			<h4 class="card-title">{{character.name}}</h4>
			<p class="card-text">{{character.description | limitTo:100}}</p>
			<a href="/characters/{{character.id}}" class="btn btn-primary">Show Detail</a>
		</div>
	</div>
	<div ng-show='characters.busy'>Loading data...</div>
</div>